<!DOCTYPE html>
<html>
    <body>
        <form action="/user/new" method="POST">
            <label>Name:</label>
            <input name="name" value="{{ oldValue.name }}" type="text" />
            <p>{{ errorMessage.name }}</p>
            <label>Password:</label>
            <input name="password" value="{{ oldValue.password }}" type="password" /><br />
            <label>Email:</label>
            <input name="email" value="{{ oldValue.email }}" type="text" /><br />
            <label>Birth Date:</label>
            <input name="birth_date" value="{{ oldValue.birth_date }}" type="date" />
            <Button type="submit">Save</Button>
        </form>
    </body>
</html>
